<!---This is part of a webpage called a partial--->
<!--this partial will load to other pages--->

<!---<p>Created by {{name}}</p>-->

<footer>
    <p>Created by {{name}}</p>
    
</footer> <!--HTML element has footer element: contains all content only in footer-->
   