<!---This is part of a webpage called a partial--->
<!--this partial will load to other pages--->
<!--<h1>Static Header.hbs Text</h1>--> 

    
    <header> <!--Menu Bar, we went from div to header, more control-->
        <h1>{{title}}</h1>
        
        <a href ="/">Weather</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
    </header>